/*2017-1-16-shunxing*/
@charset "utf-8";
/*首页*/
/*产品中心*/
.content{
    height: 10rem;
    background-color: #EEEDF2;
    margin-top: 0.4rem;
    overflow: hidden;
    position: relative;
}
.text{
    float: left;
    width: 54%;
    height: 100%;
    padding-left: 1rem;

}
.picture{
    float: right;
    width: 40%;
}
.picture img{
    width: 8rem;
}
.text1{
    margin-top: 20%;
    font-size: 1.4rem;
    color: #127DCB;
}
.text2{
    color: #717171;
    margin-top: 0.6rem;
}
.text a{
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1.4rem;
    color: #0067C6;
}
.text3{
    margin-top: 10%;
    font-size: 1.4rem;
    color: #FF9101;
}
.text4{
    color: #717171;
    margin: 0.4rem 0;
}
.text5{
    overflow: hidden;
    width: 128%;
}
.text5 li{
    float: left;
    background-color:#3D8EE0;
    color:white;
    border-radius: 5px;
    margin-right: 0.4rem;
    /*font-size: 1rem;*/
    padding: 0 0.4rem;
}
.picture2{
    position: absolute;
    right:0.6rem;
    top: 1rem;
    width: 40%;
}
.picture2 img{
    width: 10rem;
    height: 7rem;
}

.picture3{
    float: left;
    width: 32%;
    margin-left: 2rem;
}
.picture3 img{
    width: 8rem;
}
.text6{
    margin-top: 15%;
    font-size: 1.4rem;
    color: #3A8FE0;
}
.text7{
    overflow: hidden;
    margin-top: 1rem;
}
.text7 li{
    float: left;
    background-color:#FA913E;
    color:white;
    border-radius: 5px;
    margin-right: 0.4rem;
    padding: 0 0.4rem;
}
/*项目优势*/
.project{
    border: 1px dashed #FD861E;
    margin: 0 1rem;
}
.project p:nth-child(1){
    text-align: center;
    color: #717171;
}
.project p:nth-child(3){
    text-align: center;
    color: #0468C6;
}
.project_ts{
    margin: 0 auto;
    overflow: hidden;
    padding-left: 23%;
    margin: 0.4rem 0;
}

.project_ts span{
    display: block;
    float: left;
    text-align: center;
    color: #0468C6;
    padding: 0.2rem;
    font-size: 1.2rem;
    font-weight: 900;
    border: 1px solid #0468C6;
    margin-right: 1rem;
}
.project_ts span:nth-child(2){
    text-align: center;
    float: left;
    display: block;
    color: #0468C6;
}
.service{
    overflow: hidden;
}
.service p{
    text-align: center;
    color: #FE6634;
}
.cooperation_img{
    float: left;
    width: 7rem;
    height: 7rem;
    margin-left: 15%;
}
.cooperation_column{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.cooperation_column ul li{
    line-height: 1.8rem;overflow: hidden;
    color:#686868 ;
}
.cooperation_column ul li span{
    margin-top: 0.4rem;
    margin-right: 0.6rem;
    display: block;
    text-align: center;
    float: left;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    background-color:#FF940A;
    color: white;
}
/*服务体系*/
.servicesystem p{
    text-align: center;
    font-size:0.8rem;
    color:#686868 ;
}
.servicesystem p span{
    color:#FE6634 ;
}
/*合作运营优势*/
.advantage{
    overflow: hidden;
}

.advantage div{
    width: 42%;
    height: 7rem;
    float: left;
}
.advantage   div:nth-child(1){
    margin: 1rem 0.8rem;
    background: url("../images/index_4.png") no-repeat;
    background-size: 100%;
}
.advantage   div:nth-child(2){
    margin: 1rem 0.8rem;
    background: url("../images/index_5.png") no-repeat;
    background-size: 100%;
}
.advantage   div:nth-child(3){
    margin: 0rem 0.8rem;
    background: url("../images/index_6.png") no-repeat;
    background-size: 100%;
}
.advantage div:nth-child(4){
    margin: 0rem 0.8rem;
    background: url("../images/index_7.png") no-repeat;
    background-size: 100%;
}
.advantage div span:nth-child(1){
    margin-top: 0.8rem;
    color: #FF8F23;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Impact";
}
.advantage div span:nth-child(2){
    padding: 0 1.8rem;
    display: block;
    font-size: 1rem;
    text-align: center;
}
.partner{
    overflow: hidden;
}
.shuju{
    line-height: 1.8rem;
}
.shuju p:nth-child(1){
    text-align: center;
    font-size: 1rem;
    color: #555555;
}
.partner p:nth-child(2){
    text-align: center;
    font-size: 1rem;
    color: #555555;
}
.shuju p:nth-child(2) span{
    color: #FF6634;
    font-weight: 900;
}
.shuju p:nth-child(3){
    text-align: center;
    font-size: 1rem;
    color: #555555;
}
.shuju p:nth-child(3) span{
    color: #FF6634;font-size: 1.2rem;
}
.partner p:nth-child(3){
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
.partner p:nth-child(4){
    font-size: 1.2rem;
    text-align: center;
    color: #0079EA;
    font-weight: 900;
}



#contact{
    line-height: 1.8rem;
}
#contact p{
    font-size: 1rem;
    color: #FE8915; !important;
    text-align: center;
    font-weight: normal;
}

.map{
    padding: 0 1rem;
    padding-top: 2rem;

    position: relative;
}
.map i{
    font-style: normal;
    position: absolute;
    bottom:26%;
    right: 1%;
    color: #FD4308;
}
.map_title{
    position: absolute;
    top: 1rem;
    left: 2rem;
    line-height: 1.6rem;
}
.map_title  span:nth-child(1){
    display: block;
    color:  #FF7D01;
    font-size: 1.2rem; font-weight: 900;
}
.map_title  span:nth-child(2){
    display: block;
    color:  #686868;
    font-size: 0.8rem;
}
.cinput{
    text-align: center;line-height: 2.8rem;
}
.cinput input {
    height: 1.8rem;
    border: 1px #a6a5a5 solid;
    border-radius: 5px;
    width:15rem;
}
.cbutton{
    text-align: center;
}
.cbutton input{
    background-color: #FF8B1E;width: 12rem;
    color: white;
    height: 2.8rem;outline:none;
    border-radius: 1rem;
}
@media only screen and (max-width: 320px) {
    .img{
        width: 97%;
    }
    .picture2 {
        top: 1.8rem;
        right: -2.4rem;
    }
    .picture2 img {
        width: 7rem;
        height:6rem;
    }
    .picture {
        float: right;
        width: 36%;
    }
    .advantage div span:nth-child(1){
        margin-top: 0;
    }
    .text2 {
        width: 112%;
    }
}


    /*餐饮自助终端*/
    .kwy{

    }
    .kwy p{
        text-align: center;
        color: #0165C3;
        font-weight:900;
        font-size: 1rem;
        margin-top: 5%;
    }

    .kwy ul{
        overflow: hidden;
        padding-left: 5%;
    }
    .kwy ul li{
        float: left;
        margin-left: 0.2rem;
        padding: 2% 1%;

    }
    @media only screen and (max-width: 320px) {

        .kwy ul{
            overflow: hidden;
            padding-left: 3%;
        }
        .kwy ul li{
            float: left;
            margin-left: 1%;
            padding: 5% 0%;

        }
    }
@media only screen and (min-width: 412px) {
    .kwy ul{
        overflow: hidden;
        padding-left: 9%;
    }
}
    .kwy ul li img{
        width: 70%;
    }
    .kwy ul li span{
        display: block;
    }
    .table{
        padding: 0 5%;
    }
    .table p{
        margin-bottom: 5%;
        color: #DB6178;font-weight: 500;
    }
    .table p span{
        font-weight: 900;
        font-size: 1.8rem;
        font-family: \5b8b\4f53;
    }
    .function{
        overflow: hidden;
        padding-left: 5%;
    }

    .function ul{
        float: left;
        padding: 1rem 1rem 1rem 0.6rem;
    }
    .function li{
        width: 9rem;
        height: 1.8rem;
        line-height: 1.8rem;

        border: 1px solid #30B1D1;
        border-radius: 5rem;
        margin-bottom: 1rem;
    }
    .function span{
        float: left;
        margin-right: 0.6rem;
        display: block;
        text-align: center;
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        color: white; font-family: \5b8b\4f53;
        border-radius: 50%;
        background-color: #30B1D1;
    }
    .pd{
        padding: 1rem 1rem;
    }
    .scene{
        overflow: hidden;
    }
    .scene ul{
        float: left;
        margin-left: 1%;
        width:40%;
    }
    .qtsy{
        margin-right: 8%;
    }
    .qtsy p{
        margin: 1rem 0;
        text-align: center;
        color: #008BFF;
        font-weight: 900;
        font-size: 0.8rem;
    }
    .qtsy li{
        width: 100%;
        padding-left: 1rem;
    }
    .qtsy span{
        margin-bottom: 1rem;
        display: block;
        width: 80%;
        font-size: 0.8rem;
        color: #008BFF;
        background-color: #EEEDF2;
        border-radius: 5px;
    }
    .zhdc p{
        margin: 1rem 0;
        color: #FCAF01;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 900;
    }
    .zhdc li{
        width:100%;
        padding-left: 1rem;
    }
    .zhdc span{
        display: block;
        width: 82%;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        color: #FCAF01;
        background-color: #EEEDF2;
        border-radius: 5px;
    }
    .zzcy{
        border: 1px dashed #FEB034;
        padding: 1rem 0.8rem;
        margin: 1rem 0.8rem;
    }
    .cy_title{
        overflow: hidden;
        margin: 1rem 0;
    }
    .cy_title img{
        width: 16%;
        float: left;
        margin-right: 1%;
    }
    .cy_title p{
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
        display: block;
        color: #241915;
        float: left;
        width: 83%;
    }
    .cy_title p span{
        color: #231816;
        font-size: 0.8rem;
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
    }
    .zzhct{
        background: url("../images/zhcy_11.png") no-repeat;
        background-size: 100%;
        width: 100%;height: 15rem;
        position: relative;
    }
    .zzhct span{
        width: 20%;
        text-align: center;
        border-radius: 1rem;
        display: block;
        border: 1px solid #00A0EB;
        color: #00A0EB;
    }
    .zzhct span:nth-child(1){
        position: absolute;
        top: 8%;
        left: 4%;
    }
    .zzhct span:nth-child(2){
        position: absolute;
        top: 8%;
        left: 74%;
    }
    .zzhct span:nth-child(3){
        position: absolute;
        top: 68%;
        left: 4%;
    }
    .zzhct span:nth-child(4){
        position: absolute;
        top: 68%;
        left: 74%;
    }
    .zzhct p{
        position: absolute;
        top: 39%;
        left: 26%;
        font-size: 1.2rem;
        font-weight: 900;
        color:  #00A0EB;
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
    }
    .self_advantage p:nth-child(1){
        text-align: center;
        font-weight: 900;
        color: #0266C4;
        font-size: 1rem;
    }
    .self_advantage p:nth-child(3){
        text-align: center;
        font-weight: 900;
        color: #0266C4;
        font-size: 1rem;
    }
    .self_advantage p:nth-child(4){
        margin-top: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .cy_box{
        margin-bottom: 1rem;

    }
    .cy_box p:nth-child(1){
        width: 80%;
        height:2rem;
        line-height: 2rem;
        display: block;
        margin: 0 auto;
        font-weight: normal;
        font-size: 0.8rem;
        color: white;
        text-align: center;
        background-color: #ABABAB;
    }
    .cy_box p:nth-child(1) span{
        float: left;
        display: block;
        width: 25%;
        height: 2rem;
        border-right: 1px solid white;
    }
    .cy_box p:nth-child(2){
        width: 80%;
        height:2rem;
        line-height: 2rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #ABABAB;
    }
    .cy_box p:nth-child(2) span{
        float: left;

        display: block;
        width: 25%;
        height: 2rem;
        border-right: 1px solid #ABABAB;
    }
    .cy_box1 p:nth-child(1){
        font-weight: normal;
        font-size: 0.8rem;
        width: 80%;
        height:2rem;  color: white;
        line-height: 2rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        background-color: #019FE8;
    }
    .cy_box1 p:nth-child(1) span{
        float: left;
        display: block;
        width: 25%;
        height: 2rem;
        border-right: 1px solid white;
    }
    .cy_box1 p:nth-child(2){
        width: 80%;
        height:2rem;
        line-height: 2rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #ABABAB;
    }
    .cy_box1 p:nth-child(2) span{
        float: left;
        display: block;
        width: 25%;
        height: 2rem;
        border-right: 1px solid #ABABAB;
    }
    .cy_fot{
        margin-top:0.6rem;
        text-align: center;
        color: #019FE9;
    }
    /*城市合伙人*/
    /*客无忧*/
    .kwy{

    }
    .kwy_text {

    }
    .kwy_text div{
        overflow: hidden;

        text-align: center;

    }
    .kwy_text div img{margin-left: 30%;
        margin-right: 2%;
        width: 12%;float: left;
    }

    .kwy_text .kwy_wsx{
        margin-top: 4%;
        text-align: center;
        color: #4B4B4B;
        font-size: 0.8rem;
        font-family:  微软雅黑, \5b8b\4f53, Verdana;
    }
    .kwy_text div p{
        float: left;
        margin-top:3%;
        font-size: 1.4rem;
        color: #0066C3 ;
    }
    .kwy_text ul{
        padding:1rem 2rem 0rem 2rem;
    }
    .kwy_text ul li{
        margin-left: 15%;
        margin-bottom: 5%;
        padding-left: 3rem;
        width: 56%;
        height: 3rem;
        border: 1px solid #F9F9F9;
        border-radius: 5px;
        color: #4B4B4B;
        position: relative;
        box-shadow: 1px 1px 5px #c6c6c6;
    }
    .kwy_text ul span{
        color: white;
        position: absolute;
        left: -5%;
        top: 22%;
        padding-left: 1%;
        padding-right: 2%;
        border-radius: 5px;
        line-height: 1.8rem;
        height:1.8rem;
        display: block;
    }
    .kwy_text ul span:before{
        position:absolute;
        content:"";
        width:0;
        height:0;
        border:transparent 0.96rem solid;
        top:-3%;
        left:3.2em
    }
    .kwy_text ul li:nth-child(1) span{
        background-color: #FFA229;
    }
    .kwy_text ul li:nth-child(2) span{
        background-color: #4FAFEB;
    }
    .kwy_text ul li:nth-child(3) span{
        background-color: #8DBC56;
    }
    .kwy_text ul li:nth-child(4) span{
        background-color: #CE76A0;
    }
    .kwy_text ul li:nth-child(1) span:before{
        border-left-color: #FFA229;
    }
    .kwy_text ul li:nth-child(2) span:before{
        border-left-color: #4FAFEB;
    }
    .kwy_text ul li:nth-child(3) span:before{
        border-left-color: #8DBC56;
    }
    .kwy_text ul li:nth-child(4) span:before{
        border-left-color: #CE76A0;
    }


    .function{
        overflow: hidden;
        padding-left: 1rem;
    }
    .function ul{
        float: left;
        padding: 1rem 1rem 1rem 0.6rem;
    }
    .function li{
        width: 9rem;
        height: 1.8rem;
        line-height: 1.8rem;

        border: 1px solid #30B1D1;
        border-radius: 5rem;
        margin-bottom: 1rem;
    }
    .function span{
        float: left;
        margin-right: 0.6rem;
        display: block;
        text-align: center;
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        color: white; font-family: \5b8b\4f53;
        border-radius: 50%;
        background-color: #30B1D1;
    }

    .zzcy{
        border: 1px dashed #FEB034;
        padding: 1rem 0.8rem;
        margin: 1rem 0.8rem;
    }
    .cy_title{
        overflow: hidden;
        margin: 1rem 0;
    }
    .cy_title img{
        width: 16%;
        float: left;
        margin-right: 1%;
    }
    .cy_title p{
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
        display: block;
        color: #241915;
        float: left;
        width: 83%;
    }
    .cy_title p span{
        color: #231816;
        font-size: 0.8rem;
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
    }
    .kwy_pric{
        text-align: center;
    }
    .kwy_pric ul{
        overflow: hidden;
    }
    .kwy_pric li{
        float: left;
        width: 10%;
    }
@media only screen and (min-width: 412px) {
    .function{
        padding-left: 2.4rem;
    }
}

    /*酒店自助终端*/
    .inpapo li{
        overflow: hidden;
        padding: 0 1.4rem;
    }
    .inpapo li span{
        margin-top: 4%;
        margin-right: 2%;
        display: block;
        float: left;
        width: 25%;
        height: 2rem;
        line-height: 2rem;
        border-radius: 1rem;
        color: white;
        font-size: 1rem;
        font-family: arial, 微软雅黑, \5b8b\4f53, Verdana;
        text-align: center;
    }
    .inpapo li:nth-child(1) span{
        background-color:#F67079;
    }
    .inpapo li:nth-child(2) span{
        background-color:#FFA81D;
    }
    .inpapo li:nth-child(3) span{
        background-color:#2D8EDF;
    }
    .inpapo li:nth-child(4) span{
        background-color:#82CB26;
    }
    .inpapo li:nth-child(5) span{
        background-color:#FF8339;
    }

    .inpapo li p{
        float: left;
        width: 62%;
        color: #4B4B4B;
        height: 1.6rem;
        line-height: 2rem;
        font-size: 0.8rem;
        padding: 1rem 0.6rem 1rem 1rem;
        background: url("../images/jdz.png") no-repeat;
        background-size: 100%;
    }
    .hotel_ht{
        overflow: hidden;
    }
    .hotel_ht p{
        color: #0066C5;
        text-align: center;
        font-weight: 900;
        font-size: 1.2rem;
        margin: 5% 0;
    }
    .hotel_ht ul{
        overflow: hidden;
    }
    .hotel_ht ul li{
        float: left;
        color: white;
        padding: 0 0.4rem;
        border-radius: 1rem;
        margin-left: 3%;
        background-color:#FA913E ;
        margin-bottom: 5%;
    }

@media only screen and (min-width: 412px) {
    .hotel_ht ul li{
        margin-left:3%;
    }
    .hotel_ht ul{
        margin-left:5%;
    }
}

.hotel_img{
        float: left;
        width: 38%;
    }
    .hotel_he{
        overflow: hidden;
    }
    .hotel_ht2{
        float: left;
    }

    .hotel_ht2 p{
        font-size: 0.8rem;
        color: #0066C5;
        text-align: center;
        line-height: 1.8rem;
    }
    .hotel_ht2 p:nth-child(1){
        font-size: 1rem;
        font-weight: 900;
        margin-top: 15%;

    }
    .hotel_cent{
        background: url("../images/hoemt.png") no-repeat;
        background-size: 100%;
        padding: 1.8rem 1rem;
    }
    .hotel_cent li{
        margin-bottom: 2%;
    }
    .hotel_cent span{
        margin-top: 5%;
        margin-right: 2%;
        float: left;
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        text-align: center;
        line-height: 0.8rem;
        background-color: #198AD8;
        color: #FFFFFF;
        border-radius: 50%;
    }
    .hotel_foter{
        padding: 1rem 2.8rem;
    }
    .hotel_foter li{
        position: relative;
        /*overflow: hidden;*/
        border: 1px dashed #FA913E;
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;

    }
    .hotel_foter img{
        width: 20%;
        float: left;
    }
    .hotel_foter span{
        display: block;
        float: left;
        width: 65%;
    }
    .hotel_foter i{
        background-color: white;
        font-family: Impact;
        font-size: 1.2rem;
        display: block;
        z-index: 999;
        position: absolute;
        top: 30%;
        left: -4%;
        font-style: normal;
        font-size: 1rem;
        color: #FFA81D;
    }
    @media only screen and (max-width: 320px) {
        .hotel_ht ul li {
            margin-left: 0.2rem;
        }
        .hotel_foter span {
            width: 75%;
        }
        .kwy ul li{
            float: left;
            margin-left: 1%;
            padding: 5% 0%;

        }
    }



    /*收银自助终端*/
    .sy_introduce{
        background-color: #E8E7EC;
    }
    .sy_cent{
        overflow: hidden;
        padding: 0.8rem 1rem;
    }
    .sy_cent li{
        text-align: center;
        float: left;
        width: 25%;
        padding: 0 0.8rem;
    }
    .sy_cent img{
        width:50%;
    }
    .sy_cent span{
        display: block;
        margin-top:0.2rem;
        margin-bottom: 0.8rem;

    }

    .sy_introduce p:nth-child(2){
        color: #0970BB;
        text-align: center;font-weight: 900;
        font-size: 1.6rem;
    }
    .sy_introduce p:nth-child(3){
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0;
    }
    .sy_list{
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        padding-left: 7%;
    }
    .sy_list li{
        float: left;
        color: #ffffff;
        background-color: #FA913E;
        border-radius: 5px;
        margin: 0.2rem;
        padding: 0 0.4rem;
    }
    .Price{
        text-align: center;
        overflow: hidden;padding: 5% 22%;

    }
    .Price span:nth-child(1){
        color: #DF2A21;
        font-size:1rem;   display: block;    float: left;
        font-weight: 900;
        font-family: 微软雅黑, \5b8b\4f53, Verdana;
    }
    .Price span:nth-child(3){
        color: #DF2A21;
        font-size:1rem;   display: block;    float: left;
        font-weight: 900;
        font-family: 微软雅黑, \5b8b\4f53, Verdana;
    }
    .Price span:nth-child(2){
        float: left;
        display: block;
        color: #7F8082;
        margin-left: 0.4rem;
        margin-right: 0.8rem;
        border: 1px solid #7F8082;
        padding: 0 0.2rem;
    }
    .Price span:nth-child(4){
        float: left;
        display: block;
        color: #7F8082;
        margin-left: 0.4rem;
        border: 1px solid #7F8082;
        padding: 0 0.2rem;
    }
    .sy_text{
        border: 2px solid #7EBD28;
        margin: 2rem 1.8rem;
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .sy_text span{
        display: block;
        background-color: #7EBD28;
        color: #FFFFFF;
        width: 23%;
        text-align: center;
        font-size: 1.4rem;
        padding: 0.4rem 0.6rem;
        position: absolute;
        top: -17%;
        left: 36%;
    }
    .sy_text p{

        color: #0A70BB;
        font-weight: 500;
        font-size: 0.8rem;
        width:94%;
        margin-bottom: 4%;
    }
    .sy_text i{
        margin-left: -7%;
        margin-top: 3%;
        float: left;
        background-color: #7EBD28;
        display: block;
        width: 0.4rem;
        height:0.4rem;
        border-radius: 50%;
    }
    .sy_text2{
        border: 2px solid #0873BB;
        margin: 2rem 1.8rem;
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.8rem;
    }
    .sy_text2 span:nth-child(1){
        display: block;
        background-color: #0873BB;
        color: #FFFFFF;
        width: 23%;
        text-align: center;
        font-size: 1.4rem;
        padding: 0.4rem 0.6rem;
        position: absolute;
        top: -13%;
        left: 36%;
    }
    .sy_text2 p{

        color: #0A70BB;
        font-weight: 500;
        font-size: 0.8rem;
        width:94%;
        margin-bottom: 4%;
    }
    .sy_text2 i{
        margin-left: -7%;
        margin-top: 3%;
        float: left;
        background-color:#0873BB;
        display: block;
        width: 0.4rem;
        height:0.4rem;
        border-radius: 50%;
    }
    .sy_text2 span:nth-child(4){
        color: #0873BB;
        font-size: 1.6rem;

    }
    @media only screen and (max-width: 320px) {
        .sy_list{
            padding-left: 2%;
        }
        .Price{
            padding: 5% 20%;
        }
    }
@media only screen and (min-width: 412px) {
    .sy_list{
        padding-left:10%;
    }
    /*.Price{*/
        /*padding: 5% 20%;*/
    /*}*/
}


    /*关于我们*/
    .brief{
        position: relative;
    }
    .tu{
        width: 18rem;
        margin:  0 auto;
        position: absolute;
        bottom: -3rem;
        left: 12%;
    }
    .introduction{
        margin: 1rem 0.7rem;
        padding-top: 1.8rem;
        color: #737373;
        font-size: 0.6rem;
        background-color:#efefef ;
    }
    .service{
        overflow: hidden;
        margin-top: 1rem;
    }
    .service li{
        margin-right: 1.8rem;
        padding-top: 1rem;
        float: left;
        width: 5rem;
        height: 4rem;

        text-align: center;
        border: 1px solid #FAA21C;
        border-radius: 50%;
    }
    .service li:nth-child(1){
        margin-left: 2rem;
    }
    .service li span:nth-child(1){
        color: #FAA21C;
    }
    .service li span{
        display: block;
        color: #737373;
    }
    .box1{
        overflow: hidden;
        margin: 1rem auto;
        width:21.6rem;
        height: 7.6rem;
        background: url("../images/gywm_03.png") no-repeat;
        background-size: 100%;
    }
    .del{
        color: #FF7D01;
        text-align: center;
        font-size: 1rem;
    }


    .product_img{
        float: left;
        width: 18%;
        margin-left: 10%;
        margin-top: 8%;
    }
    .product_text{
        float: left;
        width: 60%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .product_text span:nth-child(1){
        color: #FFA028;
        display: block;
    }
    .product_text span:nth-child(2){
        display: block;
        color: #4C4C4C;
    }
    .certificate{

    }
    .certificate ul{
        overflow: hidden;
    }

    .certificate ul li{
        float: left;
    }
    .cful1 li{
        width: 36%;
        text-align: center;
        margin-left: 10%;
    }
    .cful1 span{
        color: #0266C4;
        font-size: 1rem;
        mso-ansi-font-weight: 900;
    }
    .cful2{
        width: 100%;
        margin: 0 auto;
    }
    .cful2 li{
        width: 28%;
        margin-right: 2%;
    }
    .cful2 span{
        color: #0266C4;
        font-size: 1rem;
        mso-ansi-font-weight: 900;
    }
/*成功案例*/
    .agent ul li{
        overflow: hidden;
        padding: 1rem 1.8rem;
    }
    .agent_img{
        float: left;
        /*width: 28%;*/
        /*height: 25%;*/
        width: 5rem;
        height: 5rem;
        padding: 0.2rem;
        margin-top: 5%;
        border: 1px solid #FF9E17;
        border-radius: 50%;
    }
    .agent_text{
        margin-left: 3%;
        float: left;
        width: 65%;
        color: #545454;
    }
    .agent_text p{
        color:#FF9E17 ;
        font-size: 0.8rem;
    }
    .box{
        padding: 1rem 1rem;
        position: relative;
    }
    .box span{
        display: block;
        width: 3%;
        color: #FAA21A;
        position: absolute;
        top: 32%;
        left: 2.8%;
        background-color:white;

    }